body {
    font-family: Arial, sans-serif;
    background-color: #c8f0cb;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.8;
}

header {
    background-color: #006600;
    padding: 10px;
    color: white;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2 {
    color: #006600;
    margin-top: 20px;
    font-style: italic;
}
h3 {
    color: #006600;
    margin-top: 20px;
    font-style: italic;
}
h4 {
    color: #006600;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

ul li {
    margin: 0;
}

ul li a {
    color: #006600;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 35px;
}

ul li a:hover {
    color: #d84315;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

video{
    display: block;
    margin: 20px auto;
    width: 70%;
    height: auto;
}

img {
    display: block;
    margin: 20px auto;
    width: 70%;
    height: auto;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th{
    padding: 10px;
    border: 1px solid #006600;
}

td {
    padding: 10px;
    border: 1px solid #006600;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.home{
    color: #006600;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    font-family: fantasy;
    position: fixed;
    top: 110px;
    right: 0;
    height: 100%;
}

.jour{
    color: #006600;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    font-family: fantasy;
    position: fixed;
    top: 160px;
    right: 0;
    height: 100%;
}

.fu{
    color: #006600;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    font-family: fantasy;
    position: fixed;
    top: 210px;
    right: 0;
    height: 100%;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .content {
        padding: 10px;
    }
    video, img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    nav ul {
        display: block;
    }
    h1 {
        font-size: 2em;
    }
    nav ul li a {
        font-size: 18px;
    }
    video, img {
        width: 100%;
    }
}